@model address_bk.Models.BookContacts

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookContacts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddrLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddrLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddrLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddrLine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityName)
        </dd>
    </dl>
</div>
<div>
    <a class="text-decoration-none" asp-action="Edit" asp-route-id="@Model?.Id">EDIT</a> |
    <a class="text-decoration-none" asp-action="Index">BACK TO LIST</a>
</div>
